    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->


  <!-- Links -->
  <ul class="navbar-nav">


    {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'user_info' %}", style="text-decoration:none;"><p style="color:sandybrown;display:inline;font-family:sans-serif;">{{ user.first_name }}</p></a>
        <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="{% url 'create' %}">Create</a>
    </li>
    <li class="nav-item" style="left:85%; position:absolute;">
      <a class="nav-link" href="{% url 'login' %}">Log out</a>
    </li>
      <li class="nav-item" style="left:90%; position:absolute;">
      <a class="nav-link" href="{% url 'sign_out' %}">Sign out</a>
    </li>
    {% else %}
        <a class="navbar-brand" href="#", style="color:sandybrown;display:inline;font-family:sans-serif;">Url App</a>
        <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
      <li class="nav-item" style="left:85%; position:absolute;">
      <a class="nav-link" href="{% url 'register' %}">Register</a>
    </li>
      <li class="nav-item" style="left:90%; position:absolute;">
      <a class="nav-link" href="{% url 'login' %}">Log in</a>
    </li>
    {% endif %}
  </ul>
</nav>